.head {
  height: 56px !important;
  position: relative;
}

.ant-menu-horizontal {
  line-height: 54px;
}

.ant-menu {
  background-color: #22ba64;
  color: #bdead1 !important;
  font-size: 16px;
  padding-left: 599px !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border-bottom-color: #fff;
  color: #fff;
  font-size: 16px;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 18px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-left: 26px;
}

.growth {
  position: absolute;
  top: 0;
  left: 320px;
  width: 207px;
  height: 93px;
  background: #22ba64;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 0px 0px 30px 0px;
  z-index: 100;
}

.growth img {
  position: absolute;
  top: 25px;
  left: 35px;
}

.portrait {
  position: absolute;
  top: 9px;
  right: 320px;
  width: 40px;
  height: 40px;
}
.portrait img {
  width: 100%;
}

.msg {
  position: absolute;
  top: 18px;
  right: 391px;
  width: 26.65px;
  height: 18.55px;
}

.msg img {
  width: 100%;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
}
.ant-menu-item-selected a {
  color: #fff !important;
  opacity: 1 !important;
}
